{{ define "header-styles" }}
<style>
    #map {
        height: 550px;
        width: 75%;
        margin: auto;
    }
</style>
{{ end}}

{{ define "main" }}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to TATK Network!</h1>
    <p class="lead">TATK Network is a global DN42 Network, with network presence on nearly every continent.</p>
    <p><strong>AS{{ .Site.Data.config.asn }}</strong></p>
</div>

<div class="container-fluid">
    <div id="map" style="width: 80%;"></div>

    <br />
    <br />

    <h2 align="center">Network Nodes</h2>

    <br />

    <div class="node-table">

        <table class="table table-bordered table-striped table-hover" id="peerTable">
            <thead>
                <tr>
                    <th scope="col">Node ID</th>
                    <th scope="col">Hostname</th>
                    <th scope="col">Location</th>
                    <th scope="col">Peers</th>
                    <th scope="col">Supported Protocols</th>
                    <th scope="col">Peering Policy</th>
                    <th scope="col">Peering Method</th>
                </tr>
            </thead>
            <tbody>
                {{ range $host, $data := .Site.Data.config.hosts }}
                <tr id="{{ $host }}" class="node">
                    <th scope="row"><a href="/nodes#{{ $host }}">{{ $host }}</a></th>
                    <td>{{ .hostname }}</td>
                    <td>{{ .location }}</td>
                    <td></td>
                    <td>
                        {{if .wg_public_key }}
                        <span class="badge badge-pill badge-info">Wireguard</span>
                        {{ end }}
                        {{if .openvpn }}
                        <span class="badge badge-pill badge-secondary">OpenVPN</span>
                        {{ end }}
                        {{if .gre }}
                        <span class="badge badge-pill badge-primary">GRE</span>
                        {{ end }}
                    </td>
                    <td>
                        {{ if eq .peering.policy "open" }}
                        <span class="badge badge-pill badge-success">Open</span>
                        {{ else if eq .peering.policy "closed" }}
                        <span class="badge badge-pill badge-danger">Closed</span>
                        {{ end}}
                    </td>
                    <td>
                        {{ if eq .peering.method "manual" }}
                        <a class="badge badge-pill badge-warning" href="/contact">Manual, please get in touch</a>
                        {{ else if eq .peering.method "auto" }}
                        <a class="badge badge-pill badge-info">Auto</a>
                        {{ end}}
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>

    </div>
</div>

{{ end }}


{{ define "footer-scripts" }}
<script>

    var hostGeoJson = {{ .Site.Data.hosts }}

    var map = L.map('map', {
        center: [35, -5],
        zoom: 3,
        minZoom: 2
    });

    var layerGroup = L.geoJSON(hostGeoJson, {
        style: {
            "color": "#7393B3",
            "weight": 2,
            "dashArray": '5, 5',
        },
        onEachFeature: function (feature, layer) {
            layer.bindPopup(feature.properties.title);
        }
    }).addTo(map);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

</script>

<script>
    var xmlHttp = new XMLHttpRequest();
    var table = document.getElementById('peerTable');
    var rows = table.getElementsByClassName("node");

    for (var i = 0; i < rows.length; i++) {
        var url = "https://" + rows[i].children[1].innerText + "/api/meta/info";
        
        xmlHttp.open("GET", url, false);
        xmlHttp.send(null);

        var response = JSON.parse(xmlHttp.responseText);

        rows[i].children[3].innerText = response.current_peers + " / " + response.peer_limit;
    }
</script>
{{ end }}